 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 577px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 500px;
  width: 100%;
  margin: 20px auto 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  border-style: solid;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  border-style: solid;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-1 .u-audio-1 {
  width: 500px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-audio-2 {
  width: 500px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-audio-3 {
  width: 500px;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-audio-1 {
    width: 340px;
  }

  .u-section-1 .u-audio-2 {
    width: 340px;
  }

  .u-section-1 .u-audio-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 513px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 487px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 338px;
  height: 225px;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  font-size: 3rem;
  background-image: none;
  margin: 30px auto 0;
  padding: 0 44px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  margin: 9px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 487px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-2 .u-image-2 {
  width: 338px;
  height: 225px;
  margin: 0 auto;
}

.u-section-2 .u-btn-2 {
  font-size: 3rem;
  background-image: none;
  margin: 30px auto 0;
  padding: 0 44px 0 43px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-2 .u-text-1 {
    font-family: "Open Sans", sans-serif;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-2 .u-text-2 {
    font-family: "Open Sans", sans-serif;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 200px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 318px;
    height: 212px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 469px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-3 .u-image-1 {
  width: 338px;
  height: 225px;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  font-size: 3rem;
  background-image: none;
  margin: 32px auto 0;
  padding: 0 36px 0 34px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 469px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 14px;
}

.u-section-3 .u-image-2 {
  width: 338px;
  height: 225px;
  margin: 10px 83px 0 121px;
}

.u-section-3 .u-btn-2 {
  font-size: 3rem;
  background-image: none;
  margin: 22px 90px 0 auto;
  padding: 0 36px 0 34px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  margin: 10px auto 0 39px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-3 .u-text-1 {
    font-family: "Open Sans", sans-serif;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 71px;
    margin-right: 33px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-family: "Open Sans", sans-serif;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 332px;
    height: 221px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 332px;
    height: 221px;
    margin-left: 0;
    margin-right: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 213px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 213px;
    margin-right: 0;
  }
}border-radius: 10px;